<input type="file" name="log-file" logFileInput (changedLog)="seedData($event)">
<div fxLayout='row' fxLayout.xs="column" class="container" fxLayoutGap="10px">
  <div fxFlex="50" class="radiant">
    <mat-card class="player-card" *ngFor="let player of radiant; let i = index">
      <mat-card-header>
        <img mat-card-avatar src="{{player.profile.avatar}}">
        <mat-card-title>{{player.profile.personaname}}</mat-card-title>
        <mat-card-subtitle>{{player.profile.steamid}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img src="./assets/images/rank_icons/{{ranks[i][1]}}">
        <img src="./assets/images/rank_icons/{{ranks[i][2]}}">
        <p>{{ranks[i][0]}}</p>
        <p>{{player.leaderboard_rank}}</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button >Steam Profile</a>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="50" class="dire">
    <mat-card class="player-card" *ngFor="let player of dire; let i = index">
      <mat-card-header>
        <img mat-card-avatar src="{{player.profile.avatar}}">
        <mat-card-title>{{player.profile.personaname}}</mat-card-title>
        <mat-card-subtitle>{{player.profile.steamid}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <img src="./assets/images/rank_icons/{{ranks[i][1]}}">
        <img src="./assets/images/rank_icons/{{ranks[i][2]}}">
        <p>{{ranks[i][0]}}</p>
        <p>{{player.leaderboard_rank}}</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button>Steam Profile</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
